.navbar-toggler{
    border: none !important;
      --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(82, 147, 180)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}
.customStyleLink a{
padding-left:  15px;
font-size: 25px;
color: rgb(82, 147, 180);
transition: all .3s;

}
.customStyleLink a:hover{
  transform: scale(1.02);
}
.active{
  border-bottom: 1px solid rgb(82, 147, 180);
}
.titleNavbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0;
}