.buttonsContainerModal{
    all: unset;
    width: 100%;
    text-align: center;
    margin: 0px 0;
    padding: 14px;
    border-radius: 15px;
    /* background: linear-gradient(90deg,#37C6C8,#4FD4C7); */
    color: #fff;

}

.modal-body {
  max-height: 80vh;
  overflow-y: auto;
}
.buttonAddCategory{
    all: unset;
  width: 100%;
  text-align: center;
  margin: 0px 0;
  padding: 14px;
  border-radius: 15px;
  background: linear-gradient(90deg, #37c6c8, #4fd4c7);
  color: #fff;

}